body {
    background-color: #F4F4F4;
}

.container {
   max-width: 800px; 
   margin: 0 auto;
   text-align: center;
}

h1 {
    margin-top: 150px;
    font-size: 3.5em;
    color: #C0B283;
}

.question {
    margin-top: 80px;
}

.questionP {
    /* width: fit-content; */
    width: 600px;
    margin: 30px auto;
    /* border: 1px solid #DCD0C0; */
    border-radius: 20px;
    padding: .8em;
    font-size: 2em;
    /* background-color: #C0B283; */
    color: #C0B283;
    /* box-shadow: -1px -1px 1px #DCD0C0, 1px 1px 1px #DCD0C0; */
    
}

.score {
    margin: 40px;
    margin-right: 150px;
    padding: 10px;
    color: #C0B283;
    font-size: 1.4em;
    text-align: right;
} 

#userAnswer {
    width: 240px;
    height: 30px;
    margin-top: 40px;
    border: 1px solid #DCD0C0;
    border-radius: 20px;
    /* background-color: #527CE3; */
    color: #C0B283;
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    box-shadow: -1px -1px 1px #DCD0C0, 1px 1px 1px #DCD0C0;
}

#userAnswer::placeholder {
    color: #C0B283;
}

#submitBtn {
    height: 50px;
    padding: 10px;
    background-color: white;
    border: 1px solid #DCD0C0;
    border-radius: 50%;
    box-shadow: -1px -1px 1px #DCD0C0, 1px 1px 1px #DCD0C0;
    color: #C0B283;
    cursor: pointer;
}


.nextQ {
    margin: 100px auto;
    height: 50px;
    padding: 10px;
    background-color: white;
    border: 1px solid #DCD0C0;
    border-radius: 15px;
    box-shadow: -1px -1px 1px #DCD0C0, 1px 1px 1px #DCD0C0;
    color: #C0B283;
    font-size: .8em;
    margin-right: 10px;
    cursor: pointer;
}

#reset {
    margin: 100px auto;
    height: 50px;
    padding: 10px;
    background-color: white;
    border: 1px solid #DCD0C0;
    border-radius: 15px;
    box-shadow: -1px -1px 1px #DCD0C0, 1px 1px 1px #DCD0C0;
    color: #C0B283;
    font-size: .8em;
    cursor: pointer;
}

.qWrong {
    width: 500px;
    background-color: #C0B283;
    margin: 50px auto;
    font-size: 2em;
    border-radius: 15px;
    padding: 10px;
    display: none;
    color: #F4F4F4;
}

#submitBtn:focus, #reset:focus, .nextQ:focus, #userAnswer:focus {
    outline-color: #DCD0C0; 
}

