body {
    background-color: #EDB101;
}

.container {
   max-width: 800px; 
   margin: 0 auto;
   text-align: center;
}

h1 {
    margin-top: 150px;
    /* font-family: 'Baloo Tammudu', cursive; */
    font-size: 3.5em;
    color: #845C00;
}

.question {
    margin-top: 40px;
}

.questionP {
    width: fit-content;
    margin: 30px auto;
    border: 3px solid #845C00;
    border-radius: 20px;
    padding: .8em;
    font-size: 2em;
    background-color: #F5D026;
    color: #845C00;
}

#userAnswer {
    width: 150px;
    height: 30px;
    border-radius: 20px;
}

.nextQ {
    margin: 25px auto;
    color:blue;
    cursor: pointer;
}

.qWrong {
    width: 500px;
    background-color: #FF4900;
    margin: 50px auto;
    font-size: 2em;
    border-radius: 5px;
    padding: 10px;
    display: none;
    color: #FECB5B;
}

.score {
    margin: 10px;
    padding: 10px;
} 