.container {
   width: 800px; 
   margin: 0 auto;
   text-align: center;
}

h1 {
    margin-top: 150px;
    font-size: 3.5em;
}

.questionP {
    margin-top: 75px;
    font-size: 50px;
}

.nextQ {
    margin: 25px auto;
    color:blue;
    cursor: pointer;
}

.qWrong {
    width: 500px;
    background-color: red;
    margin: 50px auto;
    font-size: 2em;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.qRight {
    width: 500px;
    background-color: green;
    margin: 50px auto;
    font-size: 2em;
    border-radius: 5px;
    padding: 10px;
    display: none;
}

.score {
    margin: 10px;
    padding: 10px;
}